version: '2'
mpp-vars:
  name: {{ conf.name }}
{% if osbuild.mpp_vars %}
  {{ osbuild.mpp_vars | to_nice_yaml(indent=2) | indent(2)}}
{% endif %}

pipelines:
{% if osbuild.has_qm %}
- name: qm_rootfs
  build: name:build
  stages:
  - type: org.osbuild.copy
    inputs:
      tree:
        type: org.osbuild.tree
        origin: org.osbuild.pipeline
        references:
          - name:qm_rootfs_base
    options:
      paths:
        - from: input://tree/
          to: tree:///

{% if osbuild.qm_containers %}
  - type: org.osbuild.skopeo
    inputs:
      images:
        type: org.osbuild.containers
        origin: org.osbuild.source
        mpp-resolve-images:
          images:
          {{ osbuild.qm_containers | to_nice_yaml(indent=2) | indent(10) }}
    options:
      destination:
        type: containers-storage
        storage-path:
          mpp-eval: containers_extra_store

{% endif %}
{% if osbuild.qm_groups %}
  - type: org.osbuild.groups
    options:
      groups:
        {{ osbuild.qm_groups | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.qm_users %}
  - type: org.osbuild.users
    options:
      users:
        {{ osbuild.qm_users | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.qm_extra_contents %}
  - type: org.osbuild.mkdir
    options:
      paths:
      {{ osbuild.qm_extra_contents.directories | to_nice_yaml(indent=2) | indent(6) }}

{% if osbuild.qm_extra_contents.inputs %}
  - type: org.osbuild.copy
    inputs:
      {{ osbuild.qm_extra_contents.inputs | to_nice_yaml(indent=2) | indent(6) }}
    options:
      paths:
      {{ osbuild.qm_extra_contents.paths | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}

{% endif %}
{% if osbuild.qm_chown %}
  - type: org.osbuild.chown
    options:
      items:
        {{ osbuild.qm_chown | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.qm_chmod %}
  - type: org.osbuild.chmod
    options:
      items:
        {{ osbuild.qm_chmod | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.qm_systemd %}
  - type: org.osbuild.systemd
    options:
      {{ osbuild.qm_systemd | to_nice_yaml(indent=2) | indent(6) }}

{% endif %}

{% endif %}
- name: rootfs
  build: name:build
  stages:
  - type: org.osbuild.rpm
    options:
      gpgkeys:
      - mpp-eval: distro_gpg_keys
      disable_dracut: true
      exclude:
        docs: true
    inputs:
      packages:
        type: org.osbuild.files
        origin: org.osbuild.source
        mpp-depsolve:
          architecture: $arch
          ignore-weak-deps: true
          module-platform-id: $distro_module_id
          baseurl: $distro_baseurl_repo
          repos:
            mpp-join:
            - mpp-eval: image_repos
            - mpp-eval: extra_repos
            - []
          packages:
            mpp-join:
            - mpp-eval: image_rpms
            - mpp-eval: extra_rpms
            - []
          excludes:
          - dracut-config-rescue

{% if osbuild.containers %}
  - type: org.osbuild.skopeo
    inputs:
      images:
        type: org.osbuild.containers
        origin: org.osbuild.source
        mpp-resolve-images:
          images:
          {{ osbuild.containers | to_nice_yaml(indent=2) | indent(10) }}
    options:
      destination:
        type: containers-storage
        storage-path:
          mpp-eval: containers_extra_store

{% endif %}
{% if osbuild.groups %}
  - type: org.osbuild.groups
    options:
      groups:
        {{ osbuild.groups | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.users %}
  - type: org.osbuild.users
    options:
      users:
        {{ osbuild.users | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.extra_contents %}
  - type: org.osbuild.mkdir
    options:
      paths:
      {{ osbuild.extra_contents.directories | to_nice_yaml(indent=2) | indent(6) }}

{% if osbuild.extra_contents.inputs %}
  - type: org.osbuild.copy
    inputs:
      {{ osbuild.extra_contents.inputs | to_nice_yaml(indent=2) | indent(6) }}
    options:
      paths:
      {{ osbuild.extra_contents.paths | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}

{% endif %}
{% if osbuild.chown %}
  - type: org.osbuild.chown
    options:
      items:
        {{ osbuild.chown | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.chmod %}
  - type: org.osbuild.chmod
    options:
      items:
        {{ osbuild.chmod | to_nice_yaml(indent=2) | indent(8) }}

{% endif %}
{% if osbuild.systemd %}
  - type: org.osbuild.systemd
    options:
      {{ osbuild.systemd | to_nice_yaml(indent=2) | indent(6) }}

{% endif %}
  - type: org.osbuild.hostname
    options:
      hostname: {{ conf.hostname | default('localhost') }}

  - type: org.osbuild.selinux.config
    options:
      state: {{ conf.selinux.state | default('enforcing') }}

  - type: org.osbuild.groups
    options:
      groups:
        guest:
          gid:
            mpp-eval: guest_gid

  - type: org.osbuild.users
    options:
      users:
        guest:
          password:
            mpp-eval: guest_password
          gid:
            mpp-eval: guest_gid
          uid:
            mpp-eval: guest_uid
