{% set container = conf.containers[item.container_name] %}
[Unit]
{% for key, value in container.systemd.unit.items() %}
{{ key | pascal_case }}={{ value }}
{% endfor %}

{% set _ = container.systemd.pop("unit") %}
{% for section in container.systemd.keys() %}
[{{ section | pascal_case }}]
{% for key, value in container.systemd[section].items() %}
{% if value is string %}
{{ key | pascal_case }}={{ value }}
{% else %}
{% for item in value %}
{{ key | pascal_case }}={{ item }}
{% endfor %}
{% endif %}
{% endfor %}

{% endfor %}
