[Unit]
Description=Run validator install in initramfs
DefaultDependencies=no
ConditionPathExists=/etc/initrd-release
After=initrd.target
Before=initrd-switch-root.target

[Service]
Type=oneshot
ExecStart=/usr/bin/validator {% if conf.validator.debug %}-vvvv{% endif %} install --key={{ conf.validator.public_key_path }} --config-dir=/etc/validator/boot.d --config-dir=/usr/lib/validator/boot.d -r
RemainAfterExit=yes
StandardOutput=kmsg+console
StandardError=kmsg+console
