[storage]
driver = "overlay"
runroot = "{{ current_build_dir }}/.containers/run"
graphroot = "{{ current_build_dir }}/.containers/storage"
rootless_storage_path = "{{ current_build_dir }}/.containers/storage"
