[Unit]
Description=Run validator install asap
Before=basic.target
Wants=local-fs.target sysinit.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=validator {% if conf.validator.debug %}-vvvv{% endif %} install --key={{ conf.validator.public_key_path }} --config-dir=/etc/validator/boot.d --config-dir=/usr/lib/validator/boot.d -r
RemainAfterExit=yes
StandardOutput=kmsg+console
StandardError=kmsg+console

[Install]
WantedBy=basic.target
